.center-both {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
body {
    padding-top: 70px;
}
.dalneg{
    background-color: rgba(230, 230, 230, 1);
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 50px;
}
.dalnegtx{
    color: rgb(0, 0, 0);
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 30px;
    font-size: larger;
    text-decoration: none;
}
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Menetapkan z-index untuk menampilkan tombol di atas konten lain */
    background-color: #28a745;
    color: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Efek bayangan */
}

container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  #queue {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 10px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  form {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  input[type="text"],
  input[type="number"],
  button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }